<h1>Heroes</h1>
<hr>

<div class="row">

  <div class="col-md-12 text-right">

    <button [routerLink]="['/heroe', 'new']"
            class="btn btn-outline-primary"
            type="button"
            name="button">
            New heroe
    </button>

  </div>
  <br><br>

</div>


<div class="row animated fadeIn fast">

  <div class="col-md-12">

    <div class="table-responsive">

      <table class="table">

        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Universe</th>
            <th class="text-center w230">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of heroes | keys; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ heroes[key].name }}</td>
            <td>{{ heroes[key].universe }}</td>
            <td class="text-center w230">
              <button  [routerLink]="['/heroe', key]"
                       type="button"
                       class="btn btn-outline-success">
                Edit
              </button>
              <button  (click)="delete(key)"
                       type="button"
                       class="btn btn-outline-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>

      </table>

      <div  *ngIf="(heroes | keys).length == 0 && !loading"
            class="alert alert-info" role="alert">
        <strong>There are no heroes to show</strong>
      </div>

      <div  *ngIf="loading"
            class="alert alert-warning" role="alert">
        <strong>Loading...</strong> please wait
      </div>

    </div>

  </div>
</div>
